body {
  overscroll-behavior: none;
  background-color: black;
  background: url('/desk.jpg');
  background-size: cover;
  font-family: "Inconsolata", monospace;
}

.App {
  height: 94vh;
}

.orientation-warning {
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 50px;
}
