.Controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  width: 100vw;

  position: fixed;
  top: 40vh;
}

.Controls .A,
.Controls .B {
  background-color: #d4a200;
  border: none;
  border-radius: 50px;
  box-sizing: border-box;
  color: ghostwhite;
  font-size: 30px;
  height: 8vw;
  line-height: 14vh;
  margin: 2vw;
  min-height: 45px;
  min-width: 45px;
  text-align: center;
  width: 8vw;
  outline: rgba(0,0,0,0);
}

.Controls .A {
  box-shadow: -3px 2px #b37d00;
  text-shadow: 2px -2px #b37d00;
}

.Controls .B {
  box-shadow: 3px 2px #b37d00;
  text-shadow: -2px -2px #b37d00;
}

.Controls .A:active {
  box-shadow: none;
  transform: translate(-3px, 3px);
}

.Controls .B:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}
